<div class="home-container">
  <div class="container">
    <div>
      <h1>Profumi & Note</h1>
      <nav>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div style="display: flex; flex-direction: row; gap: 40px;">
              <div class="example-button-container">
                <a mat-fab extended routerLink="/profumi">
                  <mat-icon>workspaces_filled</mat-icon>
                  Profumi
                </a>
              </div>
              <div class="example-button-container">
                <a mat-fab extended routerLink="/note">
                  <mat-icon>grade</mat-icon>
                  Note
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>